.optivent-button {
  display: block;
  top: 60vh;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 75px;
  background-color: transparent;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  color: rgb(105, 105, 105);
  font-size: 24px;
}

.test-button5 {
  display: block;
  top: 45vh;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 75px;
  background-color: transparent;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  color: rgb(105, 105, 105);
  font-size: 24px;
}

.activeButton {
  border: 1px solid rgb(0, 255, 157);
  color: rgb(0, 255, 157);
}