.popup-info {
    display: none;
    text-align: center;
    position: absolute;
    width: 80%;
    line-height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;

    top: 10vh;

    font-size: 28px;
    color: rgb(0, 255, 157);

    border-top: 2px solid rgb(0, 255, 157);
    border-bottom: 2px solid rgb(0, 255, 157);
    /* border-radius: 20%; */
    /* transition: 1s; */
}

.lumbar-info-max {

    color: rgb(208, 245, 0);
}