.selector_AC {
    /* display: none; */
    display: block;
    text-align: center;
    height: 10vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    /*display: inline;*/
}


.button {
  width: 80px;
  height: 80px;
display: inline;
color: #383838 !important;
text-transform: uppercase;
text-decoration: none;
background: #81a2e3;
padding: 10px;
border-radius: 5px;
border: none;
transition: all 0.4s ease 0s;
font-size: 48px;
font-weight: bold;
  width: 20%;
}

.link_button {
  width: 80px;
  height: 80px;
display: inline;
color: #383838 !important;
text-transform: uppercase;
text-decoration: none;
background: #81a2e3;
padding: 10px;
border-radius: 5px;
border: none;
transition: all 0.4s ease 0s;
font-size: 32px;
font-weight: bold;
  width: 20%;
  Margin : 0 20px;
  Text-decoration: none;
}


.button_start {
  width: 200px;
  height: 80px;
display: inline;
color: #383838 !important;
text-transform: uppercase;
text-decoration: none;
background: #81a2e3;
padding: 10px;
border-radius: 5px;
border: none;
transition: all 0.4s ease 0s;
font-size: 48px;
font-weight: bold;
  width: 20%;
}


.menu{

display: block;
text-align: center;
height: 15vh;
width: 90vw;
margin: 0 auto;
margin-top: 5vh;

}


.Value_indicator {
display: inline;
color: #81a2e3;
font-size: 24px;
font-weight: bold;
width: 40vw;
Margin : 0 20px;

}


.title {
text-align: center;
height: 10vh;
width: 90vw;
position: relative;
width: 100%;
top: 10px;
font-size: 46px;
color: #81a2e3;

font-weight: bold;

}


body {
  font-family: Arial, Helvetica, sans-serif;
  height: 95vh;
  /* width: 100%; */
  background: linear-gradient(#383838, #616060);
  color: white;
}

