* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

p {
  color: rgb(165, 165, 165);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 92.8vh;
  /* width: 100%; */
  background: linear-gradient(rgb(51, 52, 56), #000000);
  color: white;
}

header {
  position: relative;
}

.title {
  position: relative;
  width: 100%;
  top: 10px;
  font-size: 46px;
  color: rgb(165, 165, 165);
  font-weight: bold;
}

.title p {
  text-align: center;
}

button {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  color: rgb(144, 144, 144);
  user-select: none;
}

.buttonReset {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  font-size: 26px;
}

.buttonReset:active {
  box-shadow: inset 0px 0px 10px 1px rgb(0, 255, 157),
    0px 0px 20px 5px rgb(0, 255, 157);
  border: none;
  color: rgb(0, 255, 157);
}

.buttonActive {
  box-shadow: inset 0px 0px 10px 1px rgb(0, 255, 157),
    0px 0px 20px 5px rgb(0, 255, 157);
  border: none;
}

.buttonActiveRed {
  box-shadow: inset 0px 0px 10px 1px rgb(208, 245, 0),
    0px 0px 20px 5px rgb(208, 245, 0);
  border: none;
}



button:focus {
  outline: 0;
}

.control {
  position: absolute;
  width: 98vw;
  bottom: 28vh;
  left: 50%;
  right: 50%;
  transform: translateX(-200px);
}

.control button {
  position: absolute;
  font-size: 50px;
  border-radius: 20%;
}

.control .lumbar-text {
  position: absolute;
  top: -210px;
  display: inline-block;
  font-size: 28px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}

#up {
  top: -10rem;
  left: 10rem;
}

#down {
  top: 0rem;
  left: 10rem;
}

#forward {
  top: -5rem;
  left: 4.5rem;
}

#reward {
  top: -5rem;
  left: 15.5rem;

}

#testBistable {
  position: absolute;
  top: 5rem;
  left: 15.5rem;
}

.menu {
  display: block;
  position: absolute;
  width: 100vw;
  bottom: 1px;
  text-align: center;
}

.menu button {
  display: inline-block;
  margin: 10px;
  font-size: 50px;
}

.activeButton {
  border: 1px solid rgb(0, 255, 157);
  color: rgb(0, 255, 157);
}

.line-up {
  position: absolute;
  top: 60px;
  opacity: .9;
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 2px;
}

.line-down {
  position: absolute;
  bottom: 100px;
  opacity: .4;
  background-color: rgb(31, 35, 53);
  width: 100%;
  height: 1px;
}


@media (max-width : 320px) {

  .menu button {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 40px;
  }

}