
/* Sections  */


.selector_AC {
    /* display: none; */
    display: block;
    text-align: center;
    height: 12vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    /*display: inline;*/
}


.start_area {
    /* display: none; */
    display: block;
    text-align: center;
    height: 12vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    /*display: inline;*/
}



.menu{

display: block;
text-align: center;
height: 15vh;
width: 90vw;
margin: 0 auto;
margin-top: 5vh;

}

/* BUTTTONS  */

.button {
  width: 80px;
  height: 80px;
display: inline;
color: #383838 !important;
text-transform: uppercase;
text-decoration: none;
background: #fae5b1;
padding: 10px;
border-radius: 20px;
border: none;
transition: all 0.1s ease 0s;
font-size: 48px;
font-weight: bold;
outline:none

}

.button:active {
background: #fac952;

}

.link_button {
  width: 80px;
  height: 80px;
display: inline;
color: #383838 !important;
text-transform: uppercase;
text-decoration: none;
background: #fae5b1;
padding: 10px;
border-radius: 20px;
border: none;
transition: all 0.1s ease 0s;
font-size: 32px;
font-weight: bold;
 Margin : 0 20px;
 outline:none
}

.link_button:active {
background: #fac952;

}

.no_decoration_link{

 Text-decoration: none;

}


.button_start {

width: 200px;
height: 80px;
color: #383838 !important;
text-transform: uppercase;
text-decoration: none;
background: #fae5b1;
padding: 10px;
border-radius: 20px;
border: none;
transition: all 0.1s ease 0s;
font-size: 32px;
font-weight: bold;
outline:none

}


.active {
background: #fac952;

}




.Value_indicator {
display: inline;
color: white;
font-size: 24px;
font-weight: bold;
width: 40vw;
Margin : 0 20px;

}


.title {
text-align: center;
height: 5vh;
width: 90vw;
position: relative;
width: 100%;

font-size: 46px;
color: white;


font-weight: bold;

}


body {
  font-family: Arial, Helvetica, sans-serif;
  height: 90vh;
  /* width: 100%; */
  background: linear-gradient(#383838, #616060);
  color: white;
    user-select: none;
}

