/* MASSAGE */
.onebutton {
  display: block;
  top: 60vh;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 75px;
  background-color: transparent;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  color: rgb(105, 105, 105);
  font-size: 24px;
}

.waitButton {
  border: none;
  box-shadow: inset 0px 0px 5px 2px rgb(208, 245, 0),
    0px 0px 10px 5px rgb(208, 245, 0);

  color: rgb(208, 245, 0);
}

.activeButton {
  border: 1px solid rgb(0, 255, 157);
  color: rgb(0, 255, 157);
}


@media (max-width : 320px) {
  .onebutton {
    width: 180px;
    height: 60px;
  }
}

@media (max-height : 600px) {
  .onebutton {
    width: 180px;
    height: 60px;
  }
}