.sliders {
    position: absolute;
    top: 40vh;
    width: 100%;
}

/* .sliderIntensity {
    position: relative;
} */

.sliders h1 {
    width: 100%;
    display: inline-block;
    text-align: center;
    transform: translateY(-50px);
    font-size: 22px;
    color: rgb(165, 165, 165);
    font-weight: normal;

}

.sliders p {
    position: absolute;
    display: inline-block;
    margin-top: -18px;
    /* top: -14px; */
    left: 85vw;
    font-size: 36px;
    color: rgb(165, 165, 165);
    /* font-style: italic; */
}

.slider {
    position: absolute;
    left: 10vw;
    -webkit-appearance: none;
    width: 70%;
    height: 3px;
    border-radius: 10px;
    background: #434344;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 5px solid #8a8a8a;
    border-radius: 50%;
    background: #3b3b3b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(73, 81, 105);
    cursor: pointer;
}