.timer-text {
    position: absolute;
    width: 100vw;
    top: 50vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    color: rgb(165, 165, 165);

    display: none;
}

.runApp {
    position: absolute;
    width: 100vw;
    top: 50vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: rgb(165, 165, 165);
    display: none;
}