
h1 { margin: 100px 100px 10px; }
h2 { color: #999; margin: 0 100px 30px; font-weight: normal; }
#latency { color: red; }


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2018, 7:53:58 PM
    Author     : madanmod
*/
.button {
    background-color: #666464;
    border: 2px solid  #666464;
    color: white;
    padding: 3px 10px;
    width: 86px;
    height: 45px;
    text-align: center;
    font-size: 11px;
    border-radius: 14px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /*border:2px solid red;*/
}
.button:hover {
    background-color: #525354;
}

html{
    touch-action: manipulation;
}
body{
    touch-action: manipulation;
}
#SenstiveArea{
    touch-action: manipulation;
}
body { 
    -webkit-touch-callout: none; 
    -webkit-text-size-adjust: none;
    -webkit-user-select: none; 
    -webkit-highlight: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.circle {
    background-color: transparent;
    border: 3px solid #c8caca;
    color: white;
    padding: 3px 10px;
    width: 60px;
    height: 55px;
    text-align: center;
    font-size: 28px;
    border-radius: 24px;
    cursor: pointer;
    /*-webkit-transition-duration: 0.4s;  Safari */
    /*transition-duration: 0.4s;*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    height: 40px;
    width: 70px;
    cursor:pointer;
    text-align:center;
    position: absolute;
}
.input-circle {
/*    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;*/
    /*border-radius: 999px;*/
    behavior: url(PIE.htc);
    height: 40px;
    width: 50px;
    cursor:pointer;
    text-align:center;
    position: absolute;
}

#Separator1{
    left:20px; 
    top:417px; 
    position: absolute;
    z-index:54;
}

#Separator2{
    left:20px; 
    top:540px; 
    position: absolute;
    z-index:54;
}
#CTInfo{
    left:200px; 
    top:345px; 
    position: absolute;
    z-index:54;
}
#CFInfo{
    left:303px; 
    top:345px; 
    position: absolute;
    z-index:54;
}
#S1{
    left:27px; 
    top:429px; 
    position: absolute;
    z-index:54;
}

#S2{
    left:143px; 
    top:429px; 
    position: absolute;
    z-index:54;
}

#S3{
    left:259px; 
    top:429px; 
    position: absolute;
    z-index:54;
}

#S4{
    left:27px; 
    top:485px; 
    position: absolute;
    z-index:54;
}

#S5{
    left:143px; 
    top:485px; 
    position: absolute;
    z-index:54;
}

#S6{
    left:259px; 
    top:485px; 
    position: absolute;
    z-index:54;
}

#R1{
    left:27px; 
    top:553px; 
    position: absolute;
    z-index:54;
}

#R2{
    left:143px; 
    top:553px; 
    position: absolute;
    z-index:54;
}

#R3{
    left:259px; 
    top:553px; 
    position: absolute;
    z-index:54;
}

#R4{
    left:27px; 
    top:610px; 
    position: absolute;
    z-index:54;
}

#R5{
    left:143px; 
    top:610px; 
    position: absolute;
    z-index:54;
}

#R6{
    left:259px; 
    top:610px; 
    position: absolute;
    z-index:54;
}

#t1{
    left:10px; 
    top:90px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#HI{
    left:150px; 
    top:70px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}

#HD{
    left:297px; 
    top:70px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#HeightInfo{
    left:220px; 
    top:81px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#Hinput{
    left:90px; 
    top:85px; 
    position: absolute;
    z-index:54;
}
/**********************************************************************************/

#t2{
    left:10px; 
    top:145px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#RI{
    left:150px; 
    top:135px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
    /*border:2px solid red;*/
}

#RD{
    left:297px; 
    top:135px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#ReclineInfo{
    left:220px; 
    top:145px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#Rinput{
    left:90px; 
    top:145px; 
    position: absolute;
    z-index:54;
}
/*******************************************************************************/
#t3{
    left:10px; 
    top:207px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#TI{
    left:150px; 
    top:200px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#TD{
    left:297px; 
    top:200px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#TiltInfo{
    left:220px; 
    top:210px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#Tinput{
    left:90px; 
    top:210px; 
    position: absolute;
    z-index:54;
}
/****************************************************************************/
#Separatorm{
    left:20px; 
    top:246px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#t4{
    left:10px; 
    top:270px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#TP{
    left:150px; 
    top:265px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}

#TM{
    left:297px; 
    top:265px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#TrackInfo{
    left:220px; 
    top:275px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}

#t5{
    left:10px; 
    top:335px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#CP{
    left:150px; 
    top:330px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}

#CM{
    left:297px; 
    top:330px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}
#CuhsionInfo{
    left:220px; 
    top:340px; 
    position: absolute;
    z-index:54;
    touch-action: manipulation;
}



#Learn{
    left:27px; 
    top:15px; 
    position: absolute;
    z-index:54;
}
#TnH{
    left:259px; 
    top:15px; 
    position: absolute;
    z-index:54;
}
.text{
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    height: 40px;
    width: 70px;
    cursor:pointer;
    font-family: "Arial";
    text-align:center;
    position: absolute; 
    font-size: 20px;
    color: #c5c9c9;
    position: absolute;
    padding-top: 4px;
   /* border:2px solid green; */
}

.no-copy{  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
     -webkit-touch-callout: none; /* iOS Safari */
     -khtml-user-select: none; /* Konqueror HTML */
      -ms-user-select: none;
          user-select: none;
}
input {
  display: block;
  border: 1px solid #999;
  border-radius: 10px;
  font-family: "Arial";
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#feed{
    left:160px; 
    top:35px; 
    position: absolute;
    z-index:54;
}
.mobileHoverFix:hover,
.mobileHoverFix.hover{
backgroud-position :0 0px;
}
